body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: rgb(28, 155, 113);
}
h2{
  color: #031309;  
}
#form-contato{
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
.input-group{
    margin-bottom: 15px;
}
label{
    display: block;
    margin-bottom:  5px;
}
input, textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
button{
    width: 100%;
    padding: 10px;
    background-color: #5b88a5;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover{
    background-color: #53ac59;
}