*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.titulo{
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
    margin: 10px;
    padding: 8px;
}
#paragrafo{
    color: blueviolet;
    border: solid #2c2c2c;
}
#param{
    color: red;
}
imgLogo{

}
